<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="B1_Cap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <B1_Cap.Properties.Settings>
            <setting name="minWidth1" serializeAs="String">
                <value>6.24</value>
            </setting>
            <setting name="minWidth2" serializeAs="String">
                <value>6.26</value>
            </setting>
            <setting name="minThin1" serializeAs="String">
                <value>1.42</value>
            </setting>
            <setting name="minThin2" serializeAs="String">
                <value>1.44</value>
            </setting>
            <setting name="minThin3" serializeAs="String">
                <value>1.46</value>
            </setting>
            <setting name="maxWidth1" serializeAs="String">
                <value>6.26</value>
            </setting>
            <setting name="maxWidth2" serializeAs="String">
                <value>6.28</value>
            </setting>
            <setting name="maxThin1" serializeAs="String">
                <value>1.44</value>
            </setting>
            <setting name="maxThin2" serializeAs="String">
                <value>1.46</value>
            </setting>
            <setting name="maxThin3" serializeAs="String">
                <value>1.48</value>
            </setting>
        </B1_Cap.Properties.Settings>
    </userSettings>
</configuration>